<div class="row">
    <div class="col-md-4 border-right ">
        <small class="text-muted"><b>Projected</b></small>
        <h1 class="total">${{projectedTotal?.toLocaleString('en-US', {minimumFractionDigits: 2})}}</h1>
    </div>
    <div class="col-md-4 border-right ">
        <small class="text-muted"><b>Actual</b></small>
        <h1 class="total">${{actualTotal?.toLocaleString('en-US', {minimumFractionDigits: 2})}}</h1>
    </div>
    <div class="col-md-4">
        <small class="text-muted"><b>Left to Spend</b></small>
        <h1 class="total" [ngClass]="{'amount-green': projectedTotal >= leftToSpend, 'amount-red': projectedTotal < leftToSpend}">${{leftToSpend?.toLocaleString('en-US', {minimumFractionDigits: 2})}}</h1>
    </div>
</div>